
 <!-- Cart view section -->
 <section id="cart-view">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="cart-view-area">
           <div class="cart-view-table">
             <form action="">
               <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                        <th>Product</th>
                        <th>Price</th>
                        <!-- <th>Quantity</th> -->
                        <!-- <th>Total</th> -->
                      </tr>
                    </thead>
                    <tbody>
                    <% for (i=0; i < cartItems.length; i++) { %>
                      
                      <tr>
                        <td><a class="remove" href="/cart/remove/<%= cartItems[i].id %>"><fa class="fa fa-close"></fa></a></td>
                        <td><a href="#"><img src="<%= cartItems[i].img_url %>" alt="img"></a></td>
                        <td><a class="aa-cart-title" href="#"><%= cartItems[i].title %></a></td>
                        <td>&#8377 <%= cartItems[i].price %></td>
                        <!-- <td><input class="aa-cart-quantity" type="number" value="1"></td> -->
                        <!-- <td>&#8377 250</td> -->
                      </tr>
                    <% } %>
                      <!-- <tr>
                        <td colspan="6" class="aa-cart-view-bottom">
                          <div class="aa-cart-coupon">
                            <input class="aa-coupon-code" type="text" placeholder="Coupon">
                            <input class="aa-cart-view-btn" type="submit" value="Apply Coupon">
                          </div>
                          <input class="aa-cart-view-btn" type="submit" value="Update Cart">
                        </td>
                      </tr> -->
                      </tbody>
                  </table>
                  
                </div>
              </form>
              <!-- Cart Total view -->
              <div class="cart-view-total">
               <a href="/" class="aa-cart-view-btn">Continue Shopping</a>
               <br>
               <br>
               <br>
               <h4>Cart Totals</h4>
               <table class="aa-totals-table">
                 <tbody>
                   <tr>
                     <th>Item Count</th>
                     <td><%= itemCount %></td>
                   </tr>
                   <tr>
                     <th>Total Price</th>
                     <td>&#8377 <%= totPrice %></td>  
                   </tr>
                 </tbody>
               </table>
               <a href="#" class="aa-cart-view-btn">Proced to Checkout</a>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- / Cart view section -->
